<div class="content">

  <div class="video">
    <object width="426" height="256"><param name="movie" value="http://www.youtube.com/v/K3wXI82Y8_0&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/K3wXI82Y8_0&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="426" height="256"></embed></object>
  </div>
 
  
  <div class="main_desc">
    <h1 class="main_headline"> TEDxKraków 2010</h1>
    <h1> Texting the Dragon </h1>
    <p> Our theme </p>
  </div>

  <div class="info_box speakers">
    <h2>Call for speakers</h2>
  </div>

</div>


<div class="sidebar">

  <div class="basic_info">
    <h2>TEDxKraków 2010</h2>
  
    <table>
      <tr>
        <td>90</td>
        <td>Days until the conference</td> 
      </tr>
      <tr>
        <td>Date:</td>
        <td>15th October 2010, 9 AM</td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>Auditorium Maximum <br />
            Krupnicza 35 <br />
            <%= link_to('See on Map', 'http://maps.google.com/maps?q=audytorium+maximum+krakow&hl=en&ie=UTF8&view=map&cid=15219497759541792870&iwloc=A&ved=0CBcQpQY&sa=X&ei=HyQRTLH9D5GlsAbVjJX2Ag') %>
        </td>
      </tr>
    </table>
  </div>

  <div class="info_box about_tedx">
    <h2>About TEDx</h2>
    <p>
      In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED- like experience. Our event is call TEDxWarsaw, where x=independently organized TED event.
    </p>
  </div>

  <div class="info_box twitter">
    <h2>TwitterFeed #tedxkrakow</h2>
    <p>feeds</p>
  </div>


</div>

<div class="clear"><!-- zzz --></div>
